
.form{

    background-color:rgb(235, 233, 233);
    width: 350px;
    padding-left: 50px;
    margin: auto;
    margin-top: 50px;
}
.bold{
    font-size: 14px;
    font-weight: bold;
}
.textarea{
    resize: none;
}
.button {
    background-color: rgb(52, 113, 182);
    color: white;
    margin-bottom: 0px;
    padding: 5px 15px;
}
.textbox{
    padding: 5px 70px;
}
.groupbox{
    padding: 5px 26px;
}
.combobox{
    padding: 5px 107px;
    
}


.second_form{

    width: 350px;
    padding-left: 50px;
    margin: auto;
    margin-top: 50px;
}
.second_text {
    color: rgb(138, 135, 135);
    font-weight: bold;
}
.first_text {
    font-size: 14px;
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 10;
        

}
.second_button {
    background-color: rgb(35, 182, 91);
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px 30px;
    transition: .3s;
    border:1px solid rgb(233, 225, 225);
}
.second_textbox{
    padding: 5px 70px;
}
.field{
    width:200px;
    height:30px;
    font-weight: bold;
    font-size:10px;
    border-radius:5px;
    border:1px solid rgb(233, 225, 225);
    color: rgb(143, 141, 141);
}

